*{
    font-family: Snell Roundhound, cursive;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
header{
    width: 100%;
   
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: salmon;

}
li{
    float: left;

}
li a{
    display: inline-block;
    color: white;
    padding: 1em;
    text-decoration: none;

}
li a:hover{
    background-color: thistle;
}
.grid-Container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
    background-color: white;
    
    
}
.grid-Container > div{
    text-align: center;
    padding: 20px 0;
}
.shopp img{
    height: 150px;
    width: 150px;
    display: center;

} 
.shopp{
    margin-left: 20%;
    width: 65%;
    background-color: white;
    box-shadow: black;
    transition: .3s;
    border-radius: 5px;
}
.shopp:hover{
    box-shadow: 0 4px 8px 0 black;
}
.cardcon{
    padding:20px 20px;
}

footer{
    background-color: salmon;
    width: 100%;

    border: 15px salmon;
}

.footer{
    color: white;

    text-align: center;

    }

#copyright{
    color: white;
    }
    @media only screen and (max-width:400px){
        .grid-Container{
            grid-template-columns: repeat(1,12fr);
        }
    }